html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 

.table{
  margin-top:15%;
  margin: auto auto;
  text-align: center;
  line-height: 50px;
  width: inherit;
}


th{
  width: 100px;
  height: 50px;
}
.sea{
  background-color:#63D9FF;
}
.sea:hover{
  background-color:#424680;
}
